.portfolio_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .portfolio_item{
    width: 31%;
    margin-bottom: 50px;
    background: var(--color-bg-variant);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio_item-img{
    border-radius: 15px;
    overflow: hidden;
}
.portfolio_item h3{
    margin: 22px 0 35px;
}

.portfolio_item-cta{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

@media (max-width:1024px) {
    .portfolio_item{
        width: 48%;
    }
}

@media (max-width:600px) {
    .portfolio_item{
        width: 100%;
    }
}