header{
    height: 100vh;
    padding-top: 100px;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* CTA */

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem ;
    justify-content: center;
}

/* Header Socials */ 
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 50px;
}

.header_socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
.header_socials svg{
    font-size: 25px;
}

/* image header */ 

.header_container .me{
    background: linear-gradient(var(--color-primary) , transparent);
    width: 330px;
    height: 400px;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    margin: 40px auto;

}
.header_container h4{
    font-size: 25px;
}

/* scroll down */ 

.scroll_down{
    position: absolute;
    right: -35px;
    bottom: 80px;
    transform: rotate(90deg);
    font-weight: 300;
}

@media (max-width:1024px) {
    header{
        height: 68vh;

    }
}


@media (max-width:600px) {
    header{
        height: auto;
        padding-top: 5rem;
    }
    .header_socials , .scroll_down{
        display: none;
    }
    .header_container .me{
  
        max-width: 100%;
        width: 300px;
        height: 380px;
    }
    h1{
        font-size: 2rem;
    }
}